<h2>Products Page</h2>
<hr>
<p>Bienvenido {{usuario.nombre}}--correo:{{usuario.email}}--rol:{{usuario.rol}}</p>
<a href="/api/carts/{{usuario.car}}">Carrito de compras</a>
<button><a href="/api/sessions/logout">Logout</a></button>
{{#if auto}}
  <input type="text" placeholder="Escribe aquí...">
  
{{/if}}
<a href="/api/crudProduct">ManageProducts</a>
<a href="/api/users/documents">subir documentos</a>




<hr>
<a href="/chat">Chat</a>
<hr>
{{#if autoUser}}
{{#each resultado}}
  <p>ID: {{id}}, Name: {{title}}, Description: {{description}}, Price: {{price}}, Thumbnail: {{thumbnail}}, Code: {{code}}, Stock: {{stock}}, Category: {{category}}</p>
<button class="add-to-cart" data-product-id="{{id}}">Add to cart</button>
{{/each}}
{{/if}}
{{#if auto}}
{{#each resultado}}
  <p>ID: {{id}}, Name: {{title}}, Description: {{description}}, Price: {{price}}, Thumbnail: {{thumbnail}}, Code: {{code}}, Stock: {{stock}}, Category: {{category}}</p>
{{/each}}
{{/if}}

</ul>
<br>
<a href="/api/products/?pagina=1">Pág.1</a>

{{#if hasPrevPage}}
    <a href="/api/products/?pagina={{prevPage}}">Pág.Ant.</a>
{{else}}
    <span>Pág.Ant.</span>
{{/if}}

{{#if hasNextPage}}
    <a href="/api/products/?pagina={{nextPage}}">Pág.Sig.</a>
{{else}}
    <span>Pág.Sig.</span>
{{/if}}

<a href="/api/products/?pagina={{totalPages}}">Ult.Pág.</a>

<script>
  
 document.addEventListener('DOMContentLoaded', function () {
  // Obtén todos los elementos con la clase "add-to-cart"
  const addToCartButtons = document.querySelectorAll('.add-to-cart');
  
 var carUsuario= "{{usuario.car}}";
   console.log(carUsuario)
  
  // Agrega un controlador de eventos a cada botón
  addToCartButtons.forEach(button => {
    button.addEventListener('click', function (e) {
     
      // Obtiene el id del producto desde el atributo data
      const productId = this.getAttribute('data-product-id');

      // Realiza la solicitud fetch para agregar el producto específico al carrito
      fetch(`/api/carts/${carUsuario}/addproduct/${productId}`, {
        method: 'POST',
      })
        .then(response => response.json())
        .then(data => {
          
          if (data.message === 'Producto agregado al carrito con éxito') {
            
            console.log('Producto agregado al carrito con éxito');
          } else if (data.message === 'No puedes agregar tus propios productos al carrito') {
             console.log('No puedes agregar tus propios productos al carrito');
            ;
          }else {
            console.log('Error al agregar el producto al carrito')
          }
        })
        .catch(error => {
          req.logger.error(error);
          // Puedes manejar errores aquí
        });
    });
  });
});



</script>






   